*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1600px !important;
    margin: 0 auto;
    padding: 0 30px;
    padding-top: 80px;
    background: #a1a1a145;
    overflow-y: hidden;
}
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    padding-bottom: 80px;
}
.big-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    /* transform: translate(5%, 0%) !important; */
}
.product-card {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
    height: 450px;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    background: #fff;
    border: none !important;
    overflow: hidden;
}
.product-card :hover{
    box-shadow: 5px 5px 10px 5px rgba(94, 94, 94, 0.5);
}
.product-card .label {
    background-color: red;
    color: white;
    padding: 2px 5px;
}
.product-card .title {
    margin: 10px 0;
}
.product-card .price {
    font-weight: bold;
    margin: 10px 0;
}
.product-card img {
    width: 300px;
    height: 200px;
}
.product-card .buy-now {
    background-color: orange;
    color: white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}
.product-card button {
    background: rgb(9, 177, 255);
    color: #fff;
    border-radius: 10px;
    border: none;
    padding: 5px 20px;
}
.load{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}
.card {
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .card__content {
    padding: 20px;
  }
  @keyframes shine {
    to {
      background-position-x: -200%;
    }
  }
  .card__image,
  h2,
  p {
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    border-radius: 5px;
    background-size: 200% 100%;
    animation: 1s shine linear infinite;
  }
  .card__image {
    height: 200px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card__content {
    padding: 20px;
  }
  h2 {
    height: 30px;
  }
  p {
    height: 70px;
    width: 80%;
  }